h1
{
	font-size:		0;
	background:		url(images/logo.png);
	width:			342px;
	height:			185px;
	display:		block;
	border:			none;
}

#menu-l
{
	margin:			-50px 0 -35px 0;
	background:		url(images/menu-l.png) no-repeat left;
	height:			148px;
	padding-left:	75px;
}

#menu-r
{
	background:		url(images/menu-r.png) no-repeat right;
	height:			148px;
	padding-right:	75px;
}

#menu
{
	background:		url(images/menu_bg.png);
	height:			151px;
}

	#menu a
	{
		margin:		50px 0 0 0;
		padding:	10px 25px 3px 25px;
		height:		20px;
		display:	block;
		float:		left;
		border:		none;
		border-left:1px solid #f2f2f2;
		color:		#828282;
		font-family:"tahoma";
		font-weight:normal;
		font-size:	12px;
	}
	
	#menu a.first
	{
		border:		none;
		padding-left:0;
	}
	
	#menu a:hover, #menu a.selected
	{
		background:	none;
	}
	
	#menu a:hover
	{
		color:		#000000;
	}
	
	#menu a span
	{
		font-size:		10px;
		color:			#499ead;
		font-family:	arial;
		font-weight:	bold;
		padding-right:	5px;
		display:		inline;
	}
	
#content
{
	clear:		both;
}
	
	