a.icon
{
	padding-left:	20px;
}

a.ipassword { background: url(../images/icons/key.png) left center no-repeat; } 
a.ideactivate { background: url(../images/icons/cog_delete.png) left center no-repeat; } 
a.iactivate { background: url(../images/icons/cog_go.png) left center no-repeat; }  
a.istats { background: url(../images/icons/chart_pie.png) left center no-repeat; }