body
{
	/*width:		1000px;*/
	width:		95%;
	margin:		10px auto !important;
	color:		#111111;
	font-family:	"arial";
	font-size:	14px;
}
h1.top
{
	color:          #3399aa;
	font-family:    "arial", "serif";
	margin:			0;
	padding:		0;
	font-size:		0;
	border:         none;
}
	h1.top a
	{
	        border:         none;
			
	}
	
#top-right
{
	float:		right;
}

#menu
{
	margin:		0;
	padding:	0 0 10px 0;
}
	#menu a
	{
		margin:		0;
		margin-right:	-3px;
		padding:	0 5px;	
		border-right:	1px dotted #3399aa;
	}
	#menu a.first
	{
		border-left:	1px dotted #3399aa;
	}
	#menu a.selected
	{
		background:     #e0f0f0;
	}
	
	#menu a span
	{
		display:		none;
	}
	

div.news
{
	width:		80%;
	margin:		50px auto;
}
	div.news h2
	{
		font-family:	'tahoma', 'arial';
		font-size:	16px;
		padding:	0;
		margin:		0;
	}
		div.news h2 span.date
		{
			font-size:	10px;
			font-weight:	normal;
		}
	div.news div.content
	{
		padding:	5px 0 0 20px;
		text-align:	justify;
		font-size:	12px;
	}
	
table.yae
{
	border:         1px dotted #afafaf;
	padding:        0;
	margin:         20px auto;
}
	table.yae tr td, table.yae tr th
	{
		background:     url(images/table_bg.png);
		padding:        5px;
	}
	
	table.yae tr th
	{
		background:     url(images/header_bg.png);
		font-weight:    bold;
		font-family:	'serif';
		text-align:		center;
	}
	
	td
	{
		text-align:     center;
	}
	
table.form
{
	width:		400px;
}

table.simpleForm, table.result_description
{
	float:		left;
	width:		350px;
	margin:		20px 0;
	padding:	0;
}

	table.loginForm
	{
		float:			none;
		margin-bottom:	0;
	}

	table.simpleForm tr th
	{
		padding:		4px 0 15px 0;
	}
		
	table.simpleForm tr td.label
	{
		text-align:		left;
	}
	
	table.simpleForm tr td.buttons
	{
		padding:		15px 0 4px 0;
	}
	

	/*table.simpleForm tr td, table.result_description tr td
	{
		background:	#e0f0f0;
	}
	table.simpleForm tr th, table.result_description tr th
        {
                background:     #a0c0c0;
                color:          #000000;
        }*/
 
	table.result.wrap
	{
		padding:        0;
		margin:         20px auto;
		border-collapse:collapse;
	}
	
		table.result.wrap table
		{
			margin:			0;
		}
		
		table.result .tab
		{
			font-weight:	normal;
			padding:		0 10px;
			margin:			0 5px;	
			float:			left;
			display:		block;
			line-height:	20px;
			background:     url(images/header_bg.png);
			border:			1px solid #ccc;
			border-bottom:	none;
			color:			#333;
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
		
		table.result .tab.selected
		{
			background:     url(images/table_bg.png);
		}
		
		table.result a.tab:hover
		{
			color:			#000;
			background:     url(images/table_bg.png);
		}
		
	tr.tabs td
	{
		background:		transparent;
		border:			none;
	}
	
	table.statsmenu a, table.statsmenu span, table.submenu a, table.submenu span
	{
		display:		block;
		width:			100%;
		border:  		none;
		text-align:		left;
	}
	
	table.submenu a, table.submenu span
	{
		text-align:		center;
	}
	
	table tr.errorMessage td
	{
		color:			#f00;
		font-weight:	bold;
	}
	
textarea
{
	padding:	5px 10px;
}

input
{
	background:	url(images/input_bg.png);;
	border:		1px dotted #a0c0c0;
	padding:	3px 5px;
	color:		#3399aa;
}

input.button
{
	border:		none;
	color:          #3399aa;
	border-top:	1px dotted #000000;
	border-right:	1px dotted #000000;
	border-bottom:  1px dotted #3399aa;
	border-left:	1px dotted #3399aa;
	text-decoration:none;
	font-weight:    bold;
}

input.button:hover
{
	border:		1px solid #ffffff;
	padding:	2px 5px 4px 5px;
	cursor:		pointer;
}

input.invalid
{
	border-color:#f00;
}

a
{
	color:          #3399aa;
	border-bottom:  1px dotted #3399aa;
	text-decoration:none;
	font-weight:    bold;
}
	a img
	{
		border:         none;
	}
	
	a.important_link
	{
		color:		#f00;
		border-bottom:  1px dotted #f00;
		font-weight: normal;
	}
	
	a:hover
	{
		background:     url(images/input_bg.png);
	}
	
	a.important_link:hover
	{
		background-color:#fdd;
	}

#pages
{
	text-align:	center;
	width:		700px;
	margin:		0 auto;
}

	#pages a
	{
		margin:		0 3px;
	}

p.error
{
	color:          #cc0000;
	text-align:     center;
}
p.note
{
	font-size:      12px;
	text-align:	center;
}
#footer
{
	width:          100%;
	clear:			both;
	border-top:     1px dotted #3399aa;
	text-align:     center;
	color:          #3399aa;
}

.successMessage
{
	font-weight:	bold;
	color:			#090;
	padding:		10px 50px;
	min-width:		500px;
	text-align:		center;
}

.errorMessage
{
	font-weight:	bold;
	color:			#f00;
	padding:		10px 50px;
	min-width:		500px;
	text-align:		center;
}

.infoMessage
{
	font-weight:	bold;
	color:			#fa0;
	padding:		10px 50px;
	min-width:		500px;
	text-align:		center;
}

#contactFloatTab 
{
	margin:			0;
	padding:		10px;
	width:			295px;
	height:			210px;
	background:		#fff;
	border:			1px solid #aaa;
}

#contactFloatTab .handle
{
	background:		url("images/contactTab.png") no-repeat;
	width:			50px;
	height:			172px; 
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border:			1px solid #aaa;
}

