body
{
	/*width:		1000px;*/
	width:		95%;
	margin:		10px auto !important;
	color:		#111111;
	font-family:	"arial";
	font-size:	14px;
}
h1.top
{
	color:          #3399aa;
	font-family:    "arial", "serif";
	margin:			0;
	padding:		0;
	font-size:		0;
	border:         none;
}
	h1.top a
	{
	        border:         none;
			
	}

#menu
{
	margin:		0;
	padding:	0 0 10px 0;
}
	#menu a
	{
		margin:		0;
		margin-right:	-3px;
		padding:	0 5px;	
		border-right:	1px dotted #3399aa;
	}
	#menu a.first
	{
		border-left:	1px dotted #3399aa;
	}
	#menu a.selected
	{
		background:     #e0f0f0;
	}
	
	#menu a span
	{
		display:		none;
	}
	

div.news
{
	width:		80%;
	margin:		50px auto;
}
	div.news h2
	{
		font-family:	'tahoma', 'arial';
		font-size:	16px;
		padding:	0;
		margin:		0;
	}
		div.news h2 span.date
		{
			font-size:	10px;
			font-weight:	normal;
		}
	div.news div.content
	{
		padding:	5px 0 0 20px;
		text-align:	justify;
		font-size:	12px;
	}
	
#content table.yae
{
	border:         1px dotted #afafaf;
	padding:        0;
	margin:         20px auto;
}
	#content table.yae tr td, table.yae tr th
	{
		background:     url(images/table_bg.png);
		padding:        5px;
	}
	#content  table.yae tr th
	{
		background:     url(images/header_bg.png);
		font-weight:    bold;
		font-family:	'serif';
		text-align:		center;
	}
	#content td
	{
		text-align:     center;
	}

#content table.form, #content table.result_description
{
	float:		left;
	width:		350px;
	margin:		20px 0;
	padding:	0;
}

	#content table.form tr th
	{
		padding:		4px 0 15px 0;
	}
		
	#content table.form tr td.label
	{
		text-align:		left;
	}
	

	/*table.form tr td, table.result_description tr td
	{
		background:	#e0f0f0;
	}
	table.form tr th, table.result_description tr th
        {
                background:     #a0c0c0;
                color:          #000000;
        }*/
 
	#content table.result.wrap
	{
		padding:        0;
		margin:         20px auto;
		border-collapse:collapse;
	}
	
		#content table.result.wrap table
		{
			margin:			0;
		}
		
		#content table.result .tab
		{
			font-weight:	normal;
			padding:		0 10px;
			margin:			0 5px;	
			float:			left;
			display:		block;
			line-height:	20px;
			background:     url(images/header_bg.png);
			border:			1px solid #ccc;
			border-bottom:	none;
			color:			#333;
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
		
		#content table.result .tab.selected
		{
			background:     url(images/table_bg.png);
		}
		
		#content table.result a.tab:hover
		{
			color:			#000;
			background:     url(images/table_bg.png);
		}
		
	#content tr.tabs td
	{
		background:		transparent;
		border:			none;
	}
	
	#content table.submenu a, #content table.submenu td.selected p
	{
		display:		block;
		width:			100%;
		color:			#000;
		border:  		none;
		font-weight:	normal;
		text-align:		left;
	}
	
	#content table.statsmenu a,#content table.statsmenu span 
	{
		display:		block;
		width:			100%;
		border:  		none;
		text-align:		left;
	}
	
	#content table.submenu td.selected
	{
	}

#content input
{
	background:	url(images/input_bg.png);;
	border:		1px dotted #a0c0c0;
	padding:	3px 5px;
	color:		#3399aa;
}

#content input.button
{
	border:		none;
	color:          #3399aa;
	border-top:	1px dotted #000000;
	border-right:	1px dotted #000000;
	border-bottom:  1px dotted #3399aa;
	border-left:	1px dotted #3399aa;
	text-decoration:none;
	font-weight:    bold;
}

#content input.button:hover
{
	border:		1px solid #ffffff;
	padding:	2px 5px 4px 5px;
	cursor:		pointer;
}

a
{
	color:          #3399aa;
	border-bottom:  1px dotted #3399aa;
	text-decoration:none;
	font-weight:    bold;
}
	a img
	{
		border:         none;
	}
	
	a.important_link
	{
		color:		#f00;
		border-bottom:  1px dotted #f00;
		font-weight: normal;
	}
	
	a:hover
	{
		background:     url(images/input_bg.png);
	}
	
	a.important_link:hover
	{
		background:		#fdd;
	}

#pages
{
	text-align:	center;
	width:		700px;
	margin:		0 auto;
}

	#pages a
	{
		margin:		0 3px;
	}

#content p.error
{
	color:          #cc0000;
	text-align:     center;
}
#content p.note
{
	font-size:      12px;
	text-align:	center;
}
#footer
{
	width:          100%;
	clear:		both;
	border-top:     1px dotted #3399aa;
	text-align:     center;
	color:          #3399aa;
}
